h2 {
    position: fixed;
    color: White;
    font-weight: bold;
    font-size: 48px;
    left: 40%;
}

.start {
    position: fixed;
    top: 40%;
    left: 50%;
    height: 50px;
    width: 135px;
}
.load {
    position: fixed;
    top: 48%;
    left: 50%;
    height: 50px;
    width: 135px;
}

.exit {
    position: fixed;
    top: 56%;
    left: 50%;
    height: 50px;
    width: 135px;
}