h2 {
    position: fixed;
    color: White;
    font-weight: bold;
    font-size: 48px;
    left: 40%;
    top: 10%;
}
.title {
    text-align: center;
}
.start {
    position: fixed;
    top: 40%;
    left: 50%;
    height: 50px;
    width: 135px;
}
.load {
    position: fixed;
    top: 48%;
    left: 50%;
    height: 50px;
    width: 135px;
}

.exit {
    position: fixed;
    top: 56%;
    left: 50%;
    height: 50px;
    width: 135px;
}

.fadein,
.fadeout {
  transition:all linear 1.5s;
}

.fadein.ng-hide-remove,
.fadeout.ng-hide-add.ng-hide-add-active {
  opacity: 0;
}

.fadeout.ng-hide-add,
.fadein.ng-hide-remove.ng-hide-remove-active {
  opacity: 1;
}

.spinner {
  margin: 100px auto 0;
  width: 150px;
  text-align: center;
}

.spinner > div {
  width: 30px;
  height: 24px;
  background-color: seagreen;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}