<link rel="stylesheet" type="text/css" href="content/3DCarousel.css" />
<link rel="stylesheet" type="text/css" href="New_Game_Wizard/content/teamSelect.css" />
        <div class="row animated zoomInRight" ng-cloak>
            <span class="col-md-12 pull-right" style="font-size: 48px; font-weight: bold; color: white;">Select Your Team:</span>
            <div>
                <carousel sides="vm.sides" team-selected="teamSelected" team-id="teamId"></carousel>
                <button type="button" class="btn btn-primary pull-left viewRoster" ng-click="vm.ViewRoster(teamSelected, teamId)">View Roster</button>
                <button type="button" class="btn btn-primary pull-left teamInfo"  ng-click="vm.TeamInfo(teamSelected, teamId)">Team Info</button>
            </div>
        </div>
        <div class="col-md-12" style="font-size: 48px; font-weight: bold; color: white; margin-top: 3%; left:25%;">Team Selected: {{teamSelected}}</div>

        <button type="button" class="btn btn-primary pull-left" ui-sref="Start.career3"><span style="margin-right: 3px;" class="glyphicon glyphicon-circle-arrow-left pull-left"></span>Prev Page</button>
        <button type="button" class="btn btn-primary pull-right" ui-sref="Start.teamSelect">Next Page<span style="margin-left: 3px;" class="glyphicon glyphicon-circle-arrow-right pull-right"></span></button>


<!--<div></div>
    <hr />
    <pre>{{vm.model | json}}</pre>
    <pre>{{vm.originalFields | json}}</pre>
    <pre>{{vm.form | json}}</pre>
</div>-->