.main-inner {
    height: 700px;
    border: 2px solid darkslategray;
    border-radius: 5px;
}
.btn-sm {
    width: 115px;
}
.btn-lg {
    margin-top: 15px;
    margin-right: 15px;
    padding-top: 50px;
    color: white;
    vertical-align: bottom;
    opacity: 0.55;
    width: 165px;    
}
.dropdown-toggle {
    margin-top: 6px;
     border: 1px solid white;    
}

input {
    background-color: #337ab7 !important;
    color: white !important;
       
}
.career {
    background: url('../assets/GM_Career.png');
}
.single {
    background: url('../assets/QB_Season.png');
}
.quick {
    background: url('../assets/WR_Quick.png');
}
.situation {
    background: url('../assets/Coach_Situation.png');
}
.settings {
    background-color: lightslategray;
}
hr {
    border-width: 1px;
    border-color: darkslategray; 
}
h4 {
    margin-top: 25px;
    text-align: center;
    margin-bottom: 15px;
}
.container {
width: 100%;
}
.panel {
    height: auto;
    
}
.panel-body {
    padding: 0;
    border: 3px, solid, #004488;
}
.mainPanelHeader {
    font-size: 24px;
}
.panelHeader1 {
    background-color: black !important;
    text-align: center;
}
.panelHeader2 {
    background-color: maroon !important;
    color: white;
    text-align: center;
}
.panelHeader3 {
    background-color: #004488 !important;
    color: white;
    text-align: center;
}
.panelHeader4 {
    background-color: green !important;
    color: white;
    text-align: center;
}

.check-element {
  padding: 10px;
  border: 1px solid black;
  background: white;
}

