.custom-slider.rzslider .rz-bar {
    background: steelblue;
    height: 5px;
}
.custom-slider.rzslider .rz-selection {
  background: black;
}

.custom-slider.rzslider .rz-pointer {
  width: 8px;
  height: 16px;
  bottom: 0;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.custom-slider.rzslider .rz-pointer:after {
  display: none;
}

.custom-slider.rzslider .rz-bubble {
  bottom: 14px;
}

.custom-slider.rzslider .rz-limit {
  font-weight: bold;
  color: white;
}

.custom-slider.rzslider .rz-tick {
  width: 1px;
  height: 10px;
  margin-left: 4px;
  border-radius: 0;
  background: #ffe4d1;
  top: -1px;
}

.custom-slider.rzslider .rz-tick.rz-selected {
  background: goldenrod;
}